In [1]:
import pandas as pd
import requests
from zipfile import ZipFile
import io

url= 'https://api.worldbank.org/v2/en/indicator/NY.GDP.MKTP.CD?downloadformat=csv'

response = requests.get(url, stream=True, verify=False)
with ZipFile(io.BytesIO(response.content)) as myzip:
    with myzip.open(myzip.namelist()[1]) as myfile:
        next(myfile)
        data = pd.read_csv(myfile, encoding='utf-8', header=1)

df = pd.DataFrame(data)

df

d:\python\Lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'api.worldbank.org'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.790850e+09,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.558906e+09,3.103184e+09,3.544708e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,1.847810e+10,1.936631e+10,2.050647e+10,2.224273e+10,2.429433e+10,2.661956e+10,...,1.006992e+12,9.325135e+11,8.900514e+11,1.028394e+12,1.012521e+12,1.006191e+12,9.288802e+11,1.086531e+12,1.185138e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426650e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.041165e+10,1.113592e+10,1.195171e+10,1.268581e+10,1.384900e+10,1.487476e+10,...,8.945050e+11,7.692632e+11,6.921149e+11,6.856303e+11,7.681582e+11,8.234056e+11,7.869624e+11,8.449275e+11,8.753937e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.359668e+11,9.049642e+10,5.276162e+10,7.369016e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.067828e+11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.074395e+09,6.295848e+09,6.682677e+09,7.180765e+09,7.878760e+09,7.899738e+09,7.717145e+09,9.412034e+09,9.409474e+09,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.052607e+11,3.893300e+11,3.382914e+11,4.201178e+11,4.052709e+11,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.209642e+10,2.916378e+10,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.736663e+10,NaN

In [3]:
#check types of dataframe
print(df.dtypes)

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2019              float64
2020              float64
2021              float64
2022              float64
Unnamed: 67       float64
Length: 68, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 68 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            126 non-null    float64
 5   1961            127 non-null    float64
 6   1962            128 non-null    float64
 7   1963            128 non-null    float64
 8   1964            128 non-null    float64
 9   1965            140 non-null    float64
 10  1966            143 non-null    float64
 11  1967            146 non-null    float64
 12  1968            151 non-null    float64
 13  1969            151 non-null    float64
 14  1970            160 non-null    float64
 15  1971            163 non-null    float64
 16  1972            163 non-null    float64
 17  1973            163 non-null    float64
 18  1974            164 non-null    float64
 19  1975            166 non-null    float64
 20  1976            167 non-null    float64
 21  1977            170 non-null    float64
 22  1978            169 non-null    float64
 23  1979            170 non-null    float64
 24  1980            183 non-null    float64
 25  1981            187 non-null    float64
 26  1982            189 non-null    float64
 27  1983            191 non-null    float64
 28  1984            193 non-null    float64
 29  1985            195 non-null    float64
 30  1986            197 non-null    float64
 31  1987            201 non-null    float64
 32  1988            207 non-null    float64
 33  1989            211 non-null    float64
 34  1990            226 non-null    float64
 35  1991            225 non-null    float64
 36  1992            228 non-null    float64
 37  1993            230 non-null    float64
 38  1994            232 non-null    float64
 39  1995            241 non-null    float64
 40  1996            241 non-null    float64
 41  1997            241 non-null    float64
 42  1998            242 non-null    float64
 43  1999            243 non-null    float64
 44  2000            247 non-null    float64
 45  2001            249 non-null    float64
 46  2002            254 non-null    float64
 47  2003            254 non-null    float64
 48  2004            254 non-null    float64
 49  2005            254 non-null    float64
 50  2006            255 non-null    float64
 51  2007            255 non-null    float64
 52  2008            256 non-null    float64
 53  2009            256 non-null    float64
 54  2010            257 non-null    float64
 55  2011            260 non-null    float64
 56  2012            258 non-null    float64
 57  2013            259 non-null    float64
 58  2014            260 non-null    float64
 59  2015            258 non-null    float64
 60  2016            258 non-null    float64
 61  2017            258 non-null    float64
 62  2018            258 non-null    float64
 63  2019            258 non-null    float64
 64  2020            257 non-null    float64
 65  2021            256 non-null    float64
 66  2022            243 non-null    float64
 67  Unnamed: 67     0 non-null      float64
dtypes: float64(64), object(4)
memory usage: 141.4+ KB
None

In [4]:

#check NAs in df
print(df.info())

#convert to excel file
# df.to_excel("ao_api.xlsx", sheet_name="Country Data")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 68 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            126 non-null    float64
 5   1961            127 non-null    float64
 6   1962            128 non-null    float64
 7   1963            128 non-null    float64
 8   1964            128 non-null    float64
 9   1965            140 non-null    float64
 10  1966            143 non-null    float64
 11  1967            146 non-null    float64
 12  1968            151 non-null    float64
 13  1969            151 non-null    float64
 14  1970            160 non-null    float64
 15  1971            163 non-null    float64
 16  1972            163 non-null    float64
 17  1973            163 non-null    float64
 18  1974            164 non-null    float64
 19  1975            166 non-null    float64
 20  1976            167 non-null    float64
 21  1977            170 non-null    float64
 22  1978            169 non-null    float64
 23  1979            170 non-null    float64
 24  1980            183 non-null    float64
 25  1981            187 non-null    float64
 26  1982            189 non-null    float64
 27  1983            191 non-null    float64
 28  1984            193 non-null    float64
 29  1985            195 non-null    float64
 30  1986            197 non-null    float64
 31  1987            201 non-null    float64
 32  1988            207 non-null    float64
 33  1989            211 non-null    float64
 34  1990            226 non-null    float64
 35  1991            225 non-null    float64
 36  1992            228 non-null    float64
 37  1993            230 non-null    float64
 38  1994            232 non-null    float64
 39  1995            241 non-null    float64
 40  1996            241 non-null    float64
 41  1997            241 non-null    float64
 42  1998            242 non-null    float64
 43  1999            243 non-null    float64
 44  2000            247 non-null    float64
 45  2001            249 non-null    float64
 46  2002            254 non-null    float64
 47  2003            254 non-null    float64
 48  2004            254 non-null    float64
 49  2005            254 non-null    float64
 50  2006            255 non-null    float64
 51  2007            255 non-null    float64
 52  2008            256 non-null    float64
 53  2009            256 non-null    float64
 54  2010            257 non-null    float64
 55  2011            260 non-null    float64
 56  2012            258 non-null    float64
 57  2013            259 non-null    float64
 58  2014            260 non-null    float64
 59  2015            258 non-null    float64
 60  2016            258 non-null    float64
 61  2017            258 non-null    float64
 62  2018            258 non-null    float64
 63  2019            258 non-null    float64
 64  2020            257 non-null    float64
 65  2021            256 non-null    float64
 66  2022            243 non-null    float64
 67  Unnamed: 67     0 non-null      float64
dtypes: float64(64), object(4)
memory usage: 141.4+ KB
None

In [6]:
#print just the top 10 country code column
code = df['Country Code']
print(code.head(10))

0    ABW
1    AFE
2    AFG
3    AFW
4    AGO
5    ALB
6    AND
7    ARB
8    ARE
9    ARG
Name: Country Code, dtype: object

In [8]:
#looking at specific data points
twentytwenties = df[['Country Name', '2020']]
print(twentytwenties.head())

                  Country Name          2020
0                        Aruba  2.558906e+09
1  Africa Eastern and Southern  9.288802e+11
2                  Afghanistan  1.995593e+10
3   Africa Western and Central  7.869624e+11
4                       Angola  4.850156e+10

In [16]:
file2 = pd.read_csv('./gdp-per-capita-worldbank.csv', encoding='utf-8', header=0)
df2 = pd.DataFrame(file2)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6346 entries, 0 to 6345
Data columns (total 4 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Entity                                               6346 non-null   object
 1   Code                                                 5930 non-null   object
 2   Year                                                 6346 non-null   int64
 3   GDP per capita, PPP (constant 2017 international $)  6346 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 198.4+ KB

In [26]:
df2[['Code', 'Year', 'GDP per capita, PPP (constant 2017 international $)']]
df2['Year'] = pd.to_datetime(df2['Year'], format='%Y')
recent_indices = df2.groupby('Code')['Year'].idxmax()

most_recent_df = df2.loc[recent_indices]

print(most_recent_df.dtypes)
print(most_recent_df.head())

Entity                                                         object
Code                                                           object
Year                                                   datetime64[ns]
GDP per capita, PPP (constant 2017 international $)           float64
dtype: object
                    Entity Code       Year  \
243                  Aruba  ABW 2021-01-01
19             Afghanistan  AFG 2021-01-01
115                 Angola  AGO 2021-01-01
51                 Albania  ALB 2021-01-01
6025  United Arab Emirates  ARE 2021-01-01

      GDP per capita, PPP (constant 2017 international $)
243                                          38866.3320
19                                            1516.3057
115                                           5908.5700
51                                           14518.9060
6025                                         69733.8000

In [27]:
print(most_recent_df)

                    Entity Code       Year  \
243                  Aruba  ABW 2021-01-01
19             Afghanistan  AFG 2021-01-01
115                 Angola  AGO 2021-01-01
51                 Albania  ALB 2021-01-01
6025  United Arab Emirates  ARE 2021-01-01
...                    ...  ...        ...
6217               Vanuatu  VUT 2021-01-01
4940                 Samoa  WSM 2021-01-01
5312          South Africa  ZAF 2021-01-01
6313                Zambia  ZMB 2021-01-01
6345              Zimbabwe  ZWE 2021-01-01

      GDP per capita, PPP (constant 2017 international $)
243                                          38866.3320
19                                            1516.3057
115                                           5908.5700
51                                           14518.9060
6025                                         69733.8000
...                                                 ...
6217                                          2783.0195
4940                                          5534.1270
5312                                         13311.9260
6313                                          3236.7890
6345                                          2115.1445

[195 rows x 4 columns]